# Important: Do not delete this file.
# To configure your environment variables, make a copy of this file and rename it to `.env.local`.
# Then, replace the placeholders with the appropriate information for your application.
# localhost:3000 is used for development and should be replaced with your domain when you deploy.
MONGODB_URI='mongodb+srv://<username>:<password>@<cluster>.mongodb.net/'
DOMAIN='http://localhost:3000'
TWILIO_ACCOUNT_SID='<SID>'
TWILIO_AUTH_TOKEN='<TOKEN>'
TWILIO_PHONE_NUMBER='<Twilio number>'
TEST_USER='<Your verified number to receive texts>'